# This is an implicit value, here for clarity
--index-url https://pypi.python.org/simple/

Django==2.2
Pillow==7.0.0
psycopg2-binary==2.8.4
requests==2.18.4
django-simple-serializer==2.0.7
python-jose==3.0.1
pytz==2018.9
django-admin-tools==0.8.1
uwsgi==2.0.18
celery==4.2.2
django-celery-beat==1.4.0
redis==3.2.1
python-dateutil==2.8.0
PyJWT==1.7.1
numpy==1.18.1
pandas==0.20.3
openpyxl==1.8.6

