# This is an implicit value, here for clarity
--index-url https://pypi.python.org/simple/

Django==2.1
django-cors-headers==3.4.0
Pillow==3.4.2
psycopg2==2.7.1
psycopg2-binary==2.8.4
requests==2.18.4
python-jose==3.0.1
pytz==2018.9
django-admin-tools==0.8.1
uwsgi==2.0.18
celery==4.2.0
django-celery-beat==1.4.0
redis==3.2.1
python-dateutil==2.8.0
PyJWT==1.7.1
numpy==1.14.0
pandas==0.23.0
openpyxl==2.6.0
Jinja2==2.10.3
elasticsearch==7.9.1
git+https://github.com/liberation/django_elasticsearch.git
