{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Parkpass</a></h1>
{% endblock %}


{% block nav-global %}

    <div class="button xml-export-btn">Сформировать отчет</div>
    <div class="xml-export">
        <form class="xml-export__inner" action="/api/v1/parking/export/xls">
            <div class="xml-export__close">
                <svg viewBox="0 0 329.26933 329" xmlns="http://www.w3.org/2000/svg">
                    <path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/>
                </svg>
            </div>
            <div class="xml-export__field">
                <p>Парковка:</p>
                <select class="xml-export__input" id="parkingSelect" name="parking_id" required>
                    <option value="" disabled selected>Выбрать</option>
                </select>
            </div>
            <div class="xml-export__field">
                <p>Временной интервал:</p>
                <div class="xml-export__dates">
                    <div class="xml-export__dates-item">
                        <span>С</span>
                        <input class="xml-export__input" required name="date_from" type="text" placeholder="YYYY-MM-DD"
                               value="2021-04-01">
                    </div>
                    <div class="xml-export__dates-item">
                        <span>До</span>
                        <input class="xml-export__input" required name="date_to" type="text" placeholder="YYYY-MM-DD"
                               value="2021-05-01">
                    </div>
                </div>
            </div>
            <div class="xml-export__field">
                <p>Тип отчёта:</p>
                <select class="xml-export__input" name="type" required>
                    <option value="" disabled>Выбрать</option>
                    <option value="sessions" selected>Сессии</option>
                    <option value="subscription">Покупки абонементов</option>
                    <option value="card">Оплата парковочной карты</option>
                </select>
            </div>
            <input class=" xml-export__submit" type="submit" value="Загрузить" name="Загрузить">
        </form>
    </div>


    <style>
        .xml-export-btn {
            display: inline-block;
            line-height: 8px;
            transform: translateY(1px);
        }

        .xml-export {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 1;
            background: #0000008a;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            opacity: 0;
            pointer-events: none;
            transition: .3s;
        }

        .xml-export--open {
            opacity: 1;
            pointer-events: all;
        }

        .xml-export__inner {
            width: 600px;
            height: 400px;
            background: #fff;
            border-radius: 8px;
            box-shadow: 1px 1px 7px 5px #00000036;
            display: flex;
            flex-direction: column;
            padding: 20px;
            position: relative;
        }

        .xml-export__field p {
            margin-bottom: 5px;
        }

        .xml-export__field {
            margin-bottom: 15px;
        }

        .xml-export__dates {
            display: flex;
        }

        .xml-export__dates-item {
            margin-right: 10px;
        }

        .xml-export__close {
            position: absolute;
            right: 20px;
            top: 10px;
            cursor: pointer;
        }

        .xml-export__close svg {
            width: 15px;
        }

        .xml-export__submit {
            margin-top: auto;
            margin-left: auto;
        }
    </style>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $.get('/api/v1/parking/all/', function (data) {
            data.result.forEach(function (i) {
                console.log(i)
            $('#parkingSelect').append('<option value="'+i.id+'">'+i.name+'</option>')
            })
        })
        $('.xml-export-btn').click(function () {
            $('.xml-export').addClass('xml-export--open')
        })
        $('.xml-export__close').click(function () {
            $('.xml-export').removeClass('xml-export--open')
        })
    </script>
{% endblock %}
