{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
    <li>
        <a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}"
           class="historylink">{% trans "History" %}</a>
    </li>
    {% if original.state %}
        <li>
            <a href="#form" class="historylink popup-with-form">Закрыть сессию</a>
        </li>
    {% endif %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/magnific-popup@1.1.0/dist/jquery.magnific-popup.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/magnific-popup@1.1.0/dist/magnific-popup.css">

    <!-- form itself -->
    <form id="form" class="mfp-hide white-popup-block" action="/api/v1/parking/close-session/">
        <h1>Закрыть сессию</h1>
        <fieldset style="border:0;">
            <p>Захолдировано средств: {{ original.get_session_orders_holding_sum }} <br>
                Сумма сессии - {{ original.debt }}
            </p>
            <br><br>
            <label for="name">Сумма</label>
            <input type="hidden" name="session_id" value="{{ original.pk }}">
            <input id="name" name="sum" type="number" value="{{ original.debt }}" required>
            <input type="submit" value="Закрыть" class="default" name="_save">
        </fieldset>
    </form>

    <script>
        $(document).ready(function () {
            $('.popup-with-form').magnificPopup({
                type: 'inline',
                preloader: false,
                focus: '#name',

                // When elemened is focused, some mobile browsers in some cases zoom in
                // It looks not nice, so we disable it:
                callbacks: {
                    beforeOpen: function () {
                        if ($(window).width() < 700) {
                            this.st.focus = false;
                        } else {
                            this.st.focus = '#name';
                        }
                    }
                }
            });
        });
    </script>
    <style>
        .white-popup-block {
            background: #fff;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }
    </style>
{% endblock %}
