Здравствуйте! Мы благодарны, что вы активный пользователь ParkPass. <br>
Предлагаем стать вам участником beta-тестирования новой версии приложения. <br><br>

Что мы сделали в новой версии: <br>
1. Полностью обновили интерфейс.<br>
2. Улучшили технологию обмена данными для въезда и выезда.<br>
3. Добавили в историю оплат: покупку абонементов и оплату парковочных карт.<br>
4. Доработали информационные сообщения.<br>
5. И еще много разных улучшений.<br><br>

Чтобы присоединиться перейдите по ссылке: <a href="https://parkpass.ru/parkpass-beta?t={{ email }}">Получить ParkPass 3.0 Beta</a>.<br><br>

С уважением, команда ParkPass!
