Здравствуйте! Мы благодарны, что вы активный пользователь ParkPass. <br>
Предлагаем стать вам участником beta-тестирования новой версии приложения. <br><br>

Что мы сделали в новой версии: <br>
1. Полностью обновили интерфейс<br>
2. Улучшили обмен<br>
3. Добавили в историю оплат: покупку абонементов и оплату парковочных карт.<br>
4. Доработали поддержку. Теперь связаться с нами проще.<br>
5. И еще много разных улучшений.<br><br>

Чтобы присоединиться перейдите по <a href="https://parkpass.ru/parkpass-beta?t={{ email }}">ссылке</a><br><br>

С уважением, команда ParkPass!