Здравствуйте! Спасибо, что присоединились к бета-тестированию. <br><br>

Небольшой FAQ по тестированию: <br>
1. Для скачивания Beta-версии вам понадобиться приложение Apple TestFlight;<br>
2. Вы можете устанавливать Beta-версию прямо поверх старой;<br>
3. Все ваши данные должны быть на месте. Если их нет, см. п. 5;<br>
4. Вы в любой момент можете удалить Beta-версию и установить версию из AppStore;<br>
5. Мы протестировали приложение много раз, но что-то могли упустить. Для этого и запускаем Beta-тест. Присылайте нам ваши вопросы/комментарии/пожелания на почту
<a href="mailto:support@parkpass.ru">support@parkpass.ru</a>. Мы их ждём.<br><br>

Ссылка для скачивания: (<a href="https://testflight.apple.com/join/Ind2nseh">Скачать ParkPass Beta 3.0</a>)


